<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Posts

    <a data-toggle="collapse" href="#user_posts_new_form">
      Add post
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.posts.each do |post| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to post, post %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_posts_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
